@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
  background-color: #333;
  color: #fff;
  padding: 14px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerLink {
  color: #fff;
  text-decoration: none;
}

body {
  font-family: Arial, sans-serif;
  margin: 20px 107px;
  background-color: #ffffff;
}

.post {
  background-color: #ffffff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.post h2 {
  margin-top: 0;
}

.postInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.postDate {
  color: #888888;
  font-size: 0.9em;
  margin-right: 5px;
}

.postCategories {
  list-style: none;
  padding: 0;
  margin: 0 0 10px 0;
  display: flex;
  gap: 10px;
}

.postCategories li {
  padding: 5px 10px;
  border-radius: 5px;
  border: solid;
  border-color: #4e7dff;
  font-size: 0.9em;
  color: rgb(9, 102, 252);
}

.postContent {
  line-height: 1.6;
}
